extends layout

block content
  main
  article
    h1 Votre commande est confirmée 
      span#name #{orders[orders.length - 1].firstName + ' ' + orders[orders.length - 1].lastName}!
    p Votre numéro de confirmation est le 
      strong#confirmation-number 000#{orders.length}.

block scripts
  script(type='text/javascript', src='./assets/scripts/confirmation.controller.js')
  script(type='text/javascript', src='./assets/scripts/orders.service.js')
